/* Container global */
.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

/* Partie principale (sous navbar) */
.main-content {
    display: flex;
    flex: 1;
    overflow: hidden;
}

/* Navbar en haut */
app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    z-index: 999;
}


/* Sidebar gauche */
app-left-navbar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100px; /* ou 120px */
    height: calc(100vh - 60px);
    background: rgba(148, 211, 228, 0.8);
    margin: 0;         /* important */
    padding: 0;        /* important */
    z-index: 998;
}



.page-content {
    margin-left: 100px;     /* même valeur que la width de ta sidebar */
    margin-top: 60px;
    padding: 20px;
    flex: 1;
    height: calc(100vh - 60px);
    overflow-y: auto;
}

