<div class="header">
    <img src="assets/logo.png" alt="Excellence Hub Logo" class="logo" />
    <button class="login-btn" [routerLink]="'/login'">LOG IN</button>
</div>

<div class="hero">
    <h1>Welcome To <span>Excellence Hub</span></h1>
    <p class="desc">
        EXCELLENCE HUB is a consulting firm specializing in quality management, health, safety, and sustainable development.<br>
        We are a trusted partner for companies seeking excellence...
    </p>
    <button class="cta-btn" (click)="showContactInfo()">OUR SERVICES</button>
</div>

<div class="services-grid">
    <div class="service">
        <img src="assets/consiel.svg" />
        <span>Conseil</span>
    </div>
    <div class="service">
        <img src="assets/labo.jpg" />
        <span>Laboratoire</span>
    </div>
    <div class="service">
        <img src="assets/audit.svg" />
        <span>Audit</span>
    </div>
    <div class="service">
        <img src="assets/achat.jpg" />
        <span>Achats & Sourcing</span>
    </div>
    <div class="service">
        <img src="assets/forma.svg" />
        <span>Formation</span>
    </div>
    <div class="service">
        <img src="assets/digital.jpg" />
        <span>Transformation Digitale</span>
    </div>
</div>

<div class="circles">
    <img src="assets/im.jpg" class="circle large" />
    <img src="assets/imm.avif" class="circle small" />
    <img src="assets/immm.jpg" class="circle medium" />
</div>

<footer class="footer">
    <h3>CONTACT</h3>
    <p><img src="../../assets/loca.png"> Rabat, MOROCCO</p>
    <p><img src="../../assets/tele.png"> +212 666 40 49 00</p>
    <p><img src="../../assets/sms.png"> contact&#64;excellencehub.ma</p>
</footer>
